@use '../abstracts/' as *;

.clientslider{
    width: 100vw;
    position: relative;
    &-grid{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-around;
      background-image: linear-gradient(to bottom right, #000000A6, #000000Ac);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(7px);
      padding: 1rem;
      box-sizing: border-box;
      position: relative;
      z-index: 5;
      &-shape1{
        width: 180px;
        height: 180px;
        content: "";
        position: absolute;
        bottom: -40px;
        left: 5%;
        background-color: rgb(49, 145, 231);
        box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
        background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
        z-index: 0;
        border-radius: 50%;
      }
      &-item{
        width: 200px;
        height: 100px;
        img{
          width: 100%;
          height: 100%;
          transform: scale(var(--scale));
          object-fit: contain;
          filter: contrast(1) invert(1) saturate(0);
          transition: all 0.3s ease-in-out;
          &:hover{
            filter: contrast(1);
          }
        }
      }
    }
}